interactions:
- request:
    body: null
    headers: {}
    method: get
    uri: https://ethereum.miningpoolhub.com/index.php?action=getusertransactions&page=api
  response:
    body:
      string: '{"getusertransactions":{"version":"1.0.0","runtime":269.55199241638,"data":{"transactions":[{"id":6784986140,"username":"coryt","type":"Credit","amount":1.55624e-5,"coin_address":null,"timestamp":"2021-10-21
        05:17:03","txid":null,"height":13459031,"blockhash":"7856d4bf7b1810a46c7ef5572856eed0cc21475104bab103ad0f67792aec3343","confirmations":82},{"id":6784969256,"username":"coryt","type":"Credit","amount":8.4378e-6,"coin_address":null,"timestamp":"2021-10-21
        05:09:07","txid":null,"height":13458962,"blockhash":"2f537873ec08894c0fed41e39f495acb7beea36963dafe728e11de243135e7c8","confirmations":151},{"id":6784953521,"username":"coryt","type":"Credit","amount":9.0454e-6,"coin_address":null,"timestamp":"2021-10-21
        05:02:22","txid":null,"height":13458922,"blockhash":"d6bba1957099b0c327ca1c80d9260642b1b543cd379cb4b7727a43e7b[...]
[...]
