interactions:
- request:
    body: null
    headers: {}
    method: get
    uri: https://ethereum.miningpoolhub.com/index.php?action=getusertransactions&page=api
  response:
    body:
      string: '{"getusertransactions":{"version":"1.0.0","runtime":264.1589641571,"data":{"transactions":[{"id":6804217933,"username":"coryt","type":"Credit","amount":1.11328e-5,"coin_address":null,"timestamp":"2021-10-28
        01:09:09","txid":null,"height":13502613,"blockhash":"843091cc09a43b2e97d7bb6c7ff0293c500014169366aec65d435f474dfb0520","confirmations":131},{"id":6804198315,"username":"coryt","type":"Credit","amount":2.26478e-5,"coin_address":null,"timestamp":"2021-10-28
        00:45:55","txid":null,"height":13502532,"blockhash":"ccd424830ca263f5fe2106c6883e08568a11ac2f90071d4474f6c43cd9720433","confirmations":212},{"id":6804182987,"username":"coryt","type":"Credit","amount":2.06388e-5,"coin_address":null,"timestamp":"2021-10-28
        00:44:56","txid":null,"height":13502519,"blockhash":"be56061f1129a48307fbf10540fc54f695e7bbf0340c2aaa82e8b1[...]
