interactions:
- request:
    body: null
    headers: {}
    method: get
    uri: https://miningpoolhub.com/index.php?action=getminingandprofitsstatistics&page=api
  response:
    body:
      string: '{"success":true,"return":[{"coin_name":"zclassic","symbol":"ZCL","host":"us-east.equihash-hub.miningpoolhub.com","host_list":"us-east.equihash-hub.miningpoolhub.com;asia.equihash-hub.miningpoolhub.com;europe.equihash-hub.miningpoolhub.com","port":20574,"direct_mining_host":"us-east.equihash-hub.miningpoolhub.com","direct_mining_host_list":"us-east.equihash-hub.miningpoolhub.com;asia.equihash-hub.miningpoolhub.com;europe.equihash-hub.miningpoolhub.com","direct_mining_algo_port":17029,"algo":"Equihash-ZCL","normalized_profit":665.55695256,"normalized_profit_amd":0,"normalized_profit_nvidia":0,"profit":665.55695256,"pool_hash":"12.11K","net_hash":"12.11K","difficulty":5.8687e-5,"reward":0.78125,"last_block":1635384114,"time_since_last_block":32,"time_since_last_block_in_words":"32s
        ago","dovewallet_buy_price":2.6382751166723e-6,"bittrex_buy_price":0,"poloniex_buy_price":0,"highest_buy_price":2.6382751166723e-6,"fee":0.9,"workers":10},{"coin_name":"bitcoin-gold","symbol":"BTG","host":"us-east.equihash-hub.miningpoolhub.com","host_list":"us-east.equihash-hub.miningpoolhub.com;asia.equihash-hub.miningpoolhub.com;europe.equihash-hub.miningpoolhub.com","port":20595,"direct_mining_host":"us-east.equihash-hub.miningpoolhub.com","direct_mining_host_list":"us-east.equihash-hub.miningpoolhub.com;asia.equihash-hub.miningpoolhub.com;europe.equihash-hub.miningpoolhub.com","direct_mining_algo_port":17026,"algo":"Equihash-BTG","normali[...]
